#manage-button-row {
    height: 15%;
    width: 85%;
    padding: 0px, 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#manage-button {
    background-color: var(--pink);
    color: #000000;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 4px var(--box-shadow);
    width: 100%;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.1s ease;
}

#manage-button:hover {
    background-color: var(--dark-pink);
}

#manage-button:active {
    transform: scale(0.92);
}

@media screen and (min-width: 768px) {
    #manage-button {
        width: 60%;
    }
}