#page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: #ffffff;
  border-color: #000000;
  border-style: solid;
  border-radius: 60px;
  height: 65%;
  min-height: 500px;
  max-width: 700px;;
  max-height: 750px;
  width: 75%;
}

#medications-row {
    height: 70%;
    width: 85%;
    border: 1px solid;
    border-color: var(--light-gray);
    border-radius: 40px;
}