* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
  width: 100%;
  --button-color: rgb(249, 147, 226, 0.6);
  --box-shadow: rgba(0, 0, 0, 0.1);
  --dark-gray: rgb(128, 125, 125);
  --light-gray: rgb(219, 216, 216);
  --purple: rgb(205, 117, 244, 0.6);
}

@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}